### Get Star Wars data

In [63]:
import requests

In [64]:
response = requests.get('https://swapi.dev/api/people')
if response.status_code == 200:
    data = response.json()
    print('Succeed to fetch the data')
else:
    print('Error:', response.status_code)

Succeed to fetch the data

In [65]:
import pandas as pd

In [91]:
df = pd.DataFrame(data['results'],columns=['name','height'])
df

                 name height
0      Luke Skywalker    172
1               C-3PO    167
2               R2-D2     96
3         Darth Vader    202
4         Leia Organa    150
5           Owen Lars    178
6  Beru Whitesun lars    165
7               R5-D4     97
8   Biggs Darklighter    183
9      Obi-Wan Kenobi    182

In [92]:
results = data['results']
names = [person['name'] for person in data['results']]
heights = [person['height'] for person in data['results']]

In [93]:
next_url = data['next']
next_url

'https://swapi.dev/api/people/?page=2'

In [94]:
response = requests.get(next_url)
next_data = response.json()

In [95]:
df = pd.DataFrame(next_data['results'],columns=['name','height'])
df

                    name height
0       Anakin Skywalker    188
1         Wilhuff Tarkin    180
2              Chewbacca    228
3               Han Solo    180
4                 Greedo    173
5  Jabba Desilijic Tiure    175
6         Wedge Antilles    170
7       Jek Tono Porkins    180
8                   Yoda     66
9              Palpatine    170

In [96]:
df = pd.DataFrame(data)

In [97]:
df.head()

,count,next,previous,results
0,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Luke Skywalker', 'height': '172', 'm..."
1,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'C-3PO', 'height': '167', 'mass': '75..."
2,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'R2-D2', 'height': '96', 'mass': '32'..."
3,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Darth Vader', 'height': '202', 'mass..."
4,82,https://swapi.dev/api/people/?page=2,None,"{'name': 'Leia Organa', 'height': '150', 'mass..."

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   count     10 non-null     int64
 1   next      10 non-null     object
 2   previous  0 non-null      object
 3   results   10 non-null     object
dtypes: int64(1), object(3)
memory usage: 452.0+ bytes

In [99]:
df.describe()

       count
count   10.0
mean    82.0
std      0.0
min     82.0
25%     82.0
50%     82.0
75%     82.0
max     82.0