# Tuples

In [12]:
# A tuple is a collection which is ordered and unchangable

tuple_fruits = ("apple","banana","cherry")
tuple_fruits

('apple', 'banana', 'cherry')

In [13]:
# Allow Duplicates

tuple_fruits = ("apple","banana","cherry","apple")
tuple_fruits

('apple', 'banana', 'cherry', 'apple')

In [14]:
# Can contain different data types

tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
print(len(tuple1))
print(tuple1[0])

('abc', 34, True, 40, 'male')
5
abc

In [15]:
# Here are few examples where tuples can be useful:

# 1.Returning Multiple Values from a Function:

def find_min_max(nums):
    min_val = min(nums)
    max_val = max(nums)
    return min_val, max_val

result = find_min_max([4, 2, 9, 1, 5])
print(result)  # Output: (1, 9)

(1, 9)

In [16]:
# 2. Dictionary Keys:

student_scores = {('Alice', 1): 95, ('Bob', 1): 87, ('Alice', 2): 91}
print(student_scores[('Alice', 1)])

95

# Sets

In [17]:
myset = {"apple", "banana", "cherry"}
myset

{'apple', 'banana', 'cherry'}

In [ ]:
# Unoerdered and unchangable

In [18]:
# Duplicates are not allowed

myset = {"apple", "banana", "cherry", "apple"}

print(myset)

{'apple', 'banana', 'cherry'}

In [21]:
# Here are few examples where tuples can be useful:

# 1. Removing Duplicates
numbers = [1, 2, 3, 2, 4, 5, 1]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}

In [23]:
# 2. Membership Testing
fruits = {'apple', 'banana', 'orange', 'grape'}
print('banana' in fruits)

True

In [24]:
# 3. Set Operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1.union(set2)
print(union)  

intersection = set1.intersection(set2)
print(intersection)  

difference = set1.difference(set2)
print(difference)

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [25]:
# 4. Removing Elements
numbers = {1, 2, 3, 4, 5}
numbers.remove(3)
print(numbers)

{1, 2, 4, 5}

In [26]:
# 5. Finding Unique Elements
set1 = {1, 2, 3}
set2 = {3, 4, 5}
unique_elements = set1.union(set2)
print(unique_elements)

{1, 2, 3, 4, 5}