# Lists

In [1]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [2]:
len(my_list)

5

# Tuples

In [38]:
# A tuple is a collection which is ordered and unchangable

tuple_fruits = ("apple","banana","cherry")
print(tuple_fruits)
print(tuple_fruits[0])
tuple_fruits[0] = "orange"

('apple', 'banana', 'cherry')
apple

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple_fruits.append("orange")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Allow Duplicates

tuple_fruits = ("apple","banana","cherry","apple")
tuple_fruits

('apple', 'banana', 'cherry', 'apple')

In [ ]:
# Can contain different data types

tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
print(len(tuple1))
print(tuple1[0])

('abc', 34, True, 40, 'male')
5
abc

In [ ]:
# Here are few examples where tuples can be useful:

# 1.Returning Multiple Values from a Function:

def find_min_max(nums):
    min_val = min(nums)
    max_val = max(nums)
    return min_val, max_val

result = find_min_max([4, 2, 9, 1, 5])
print(result)  # Output: (1, 9)

(1, 9)

In [ ]:
# 2. Dictionary Keys:

student_scores = {('Alice', 1): 95, ('Bob', 1): 87, ('Alice', 2): 91}
print(student_scores[('Alice', 1)])

95

# Sets

In [ ]:
myset = {"apple", "banana", "cherry"}
myset.discard("cherry")
print(myset)
myset.add("cherry")
print(myset)

{'apple', 'banana'}
{'apple', 'banana', 'cherry'}

In [ ]:
# Unoerdered and unchangable

In [ ]:
{1,2,3} == {3,2,1,1,1}

True

In [ ]:
# Duplicates are not allowed

myset = {"apple", "banana", "cherry", "apple"}

print(myset)

{'apple', 'banana', 'cherry'}

In [ ]:
# Here are few examples where tuples can be useful:

# 1. Removing Duplicates
numbers = [1, 2, 3, 2, 4, 5, 1]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}

In [ ]:
# 2. Membership Testing
fruits = {'apple', 'banana', 'orange', 'grape'}
print('banana' in fruits)

True

In [ ]:
# 3. Set Operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1.union(set2)
print(union)  

intersection = set1.intersection(set2)
print(intersection)  

difference = set1.difference(set2)
print(difference)

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [ ]:
# 4. Removing Elements
numbers = {1, 2, 3, 4, 5}
numbers.remove(3)
print(numbers)

{1, 2, 4, 5}

In [ ]:
# 5. Finding Unique Elements
set1 = {1, 2, 3}
set2 = {3, 4, 5}
unique_elements = set1.union(set2)
print(unique_elements)

{1, 2, 3, 4, 5}

# Dictionaries

In [39]:
# Creating a dictionary
student = {
    'name': 'John',
    'age': 20,
    'grade': 'A',
    'courses': ['Math', 'Science']
}

# Accessing dictionary values
print(student['name'])  # Output: John
print(student['age'])  # Output: 20
print(student.get('height'))

John
20
None

In [40]:
# Modifying dictionary values
student['grade'] = 'B'
print(student['grade'])  # Output: B

B

In [41]:
# Adding a new key-value pair
student['city'] = 'New York'
print(student['city'])  # Output: New York

New York

In [42]:
# Checking if a key exists
print('courses' in student)  # Output: True
print('gender' in student)  # Output: False

True
False

In [43]:
# Removing a key-value pair
del student['age']
print(student)

{'name': 'John', 'grade': 'B', 'courses': ['Math', 'Science'], 'city': 'New York'}

In [44]:
# Iterating over keys and values
for key, value in student.items():
    print(key, ':', value)

name : John
grade : B
courses : ['Math', 'Science']
city : New York